<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Query 1 Results</h1>

    <div>
        <h3>Max temperature (in Celsius), max dewpoint (in Cesius), <br>
            max pressure (in Pascal) and max wind speed(in meter/sec) <br>
            reported in the year {{ year }}</h3>
        {% for key, val in data.items %}
        
            <p>{{key}} &nbsp;&nbsp;:&nbsp;&nbsp;{{val}}</p>
        {% endfor %}
    </div>

</body>
</html>